body{
	color : #DDD;
	background-color: #3C0077;
	font-family: verdana;
}

a{
	cursor: pointer;
}

footer{
	border-top: 5px solid #1A0033;
	background-color: #1F003E;
	position: absolute;
	left: 0;
	right: 0;
	padding: 1.2em;
	margin-top:20px;
}

#temp{
	display: none;
}

.navbar input{
	background-color: #333;
	border: 1px solid #222;
	color: #DDD;
}

#news{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	background-color: rgba(255,255,255, 0.2) ;
	padding: 5px;
	margin-bottom: 20px; 
}

#loader{
	width: 100%;
	height: 100%;
	padding: 150px 0;
	text-align: center;
}

.vignette{
	display : inline-table;
	margin-right:10px;
	margin-bottom : 10px;

	background-color : #333;
	color : #EEE;
	line-height: 10px;
	font-size : 8px;

	text-align: right;

	width: 96px;
	height: 96px;
	max-height: 96px;
	overflow: hidden;

	border-radius: 10px;
	webkit-border-radius: 10px;
	-moz-border-radius: 10px;		
}

.vignette:hover{
	text-decoration: none;
	color: #DDD;
}

.v_titre{
	position: relative;
	padding: 2px;
	max-width: 92px;
	height: 50px;
	width: 92px;
	background-color: rgba(0,0,0,0.8);
	bottom: -50px;
}

.form-search{
	text-align: center;
}

#main_menu .item{
	color:#EEE;
	display:block;
	width: 100%;
	text-align:center;
	background: #cb60b3; /* Old browsers */
background: -moz-linear-gradient(top,  #cb60b3 0%, #c146a1 50%, #a80077 51%, #db36a4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb60b3), color-stop(50%,#c146a1), color-stop(51%,#a80077), color-stop(100%,#db36a4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%); /* IE10+ */
background: linear-gradient(to bottom,  #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4',GradientType=0 ); /* IE6-9 */

	border-radius : 10px;
	margin-bottom : 20px;
	height:50px;
	line-height:50px;
}
