body{
	color : #DDD;
	background-color: #3C0077;
	font-family: verdana;
}

a{
	cursor: pointer;
}

footer{
	border-top: 5px solid #1A0033;
	background-color: #1F003E;
	position: absolute;
	left: 0;
	right: 0;
	padding: 1.2em;
	margin-top:20px;
}

#temp{
	display: none;
}

.navbar input{
	background-color: #333;
	border: 1px solid #222;
	color: #DDD;
}

#news{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	background-color: rgba(255,255,255, 0.2) ;
	padding: 5px;
	margin-bottom: 20px; 
}

#loader{
	width: 100%;
	height: 100%;
	padding: 150px 0;
	text-align: center;
}

.unselected{
	opacity: 0.5;
}

.selected{
	opacity: 1;
}

.vignette{
	background-size:96px 96px;
	display : inline-table;
	margin:5px;

	background-color : #333;
	color : #EEE;
	line-height: 10px;
	font-size : 8px;

	text-align: right;

	width: 96px;
	height: 96px;
	max-height: 96px;
	overflow: hidden;

    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: 5px 5px 10px #000;
		-moz-box-shadow: 5px 5px 10px #000;
		box-shadow: 5px 5px 10px #000;	
}

.vignette:hover{
	text-decoration: none;
	color: #DDD;
}

.v_titre{
	position: relative;
	padding: 2px;
	max-width: 92px;
	height: 50px;
	width: 92px;
	background-color: rgba(0,0,0,0.8);
	bottom: -50px;
}

.v_titre:hover{
	color: #FFF;
	background-color: rgba(0,0,0, 0.9);
}

.form-search{
	text-align: center;
}

#main_menu .item{
	width: 100%;
	display:block;
	height:50px;
	line-height:50px;
	padding: 0px;
	font-weight: bold;
}

.item{
	color:#EEE;
	text-align:center;

	background-image: linear-gradient(bottom, rgb(56,25,92) 32%, rgb(136,55,212) 66%, rgb(174,124,230) 83%);
	background-image: -o-linear-gradient(bottom, rgb(56,25,92) 32%, rgb(136,55,212) 66%, rgb(174,124,230) 83%);
	background-image: -moz-linear-gradient(bottom, rgb(56,25,92) 32%, rgb(136,55,212) 66%, rgb(174,124,230) 83%);
	background-image: -webkit-linear-gradient(bottom, rgb(56,25,92) 32%, rgb(136,55,212) 66%, rgb(174,124,230) 83%);
	background-image: -ms-linear-gradient(bottom, rgb(56,25,92) 32%, rgb(136,55,212) 66%, rgb(174,124,230) 83%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.32, rgb(56,25,92)),
		color-stop(0.66, rgb(136,55,212)),
		color-stop(0.83, rgb(174,124,230))
	);

	-webkit-box-shadow: 5px 5px 10px #000;
	-moz-box-shadow: 5px 5px 10px #000;
	box-shadow: 5px 5px 10px #000;

	border-radius : 10px;
	margin-bottom: 20px;

	text-decoration: none;

	display:inline-block;
	height:50px;
	line-height:50px;
	padding: 0 10px;
  	z-index:10;
}

.item:hover{
	background-image: linear-gradient(bottom, rgb(89,39,150) 32%, rgb(161,87,235) 66%, rgb(187,146,235) 83%);
	background-image: -o-linear-gradient(bottom, rgb(89,39,150) 32%, rgb(161,87,235) 66%, rgb(187,146,235) 83%);
	background-image: -moz-linear-gradient(bottom, rgb(89,39,150) 32%, rgb(161,87,235) 66%, rgb(187,146,235) 83%);
	background-image: -webkit-linear-gradient(bottom, rgb(89,39,150) 32%, rgb(161,87,235) 66%, rgb(187,146,235) 83%);
	background-image: -ms-linear-gradient(bottom, rgb(89,39,150) 32%, rgb(161,87,235) 66%, rgb(187,146,235) 83%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.32, rgb(89,39,150)),
		color-stop(0.66, rgb(161,87,235)),
		color-stop(0.83, rgb(187,146,235))
	);

	color: #DDD;
}

#form-search{
	display: none;
}

#search_result{
	text-align: center;
}

.next{
	position: absolute;
	top:70%;
	right: 0;	
}

.prev{
	position: absolute;
	top:70%;
	left: 0;
}

h3.titre{
	border-bottom: 1px solid #DDD;
	font-size: 14px;
}

blockquote{
	font-style: italic;
	font-family: Arial;
	
}

/**
* Info Modal
*/
#info_modal{
	background-color: #3C0077;
	font-size: 9px;
}

#modal-title{
	font-size: 14px;
}

#modal-body{
	line-height: 10px;
	padding: 0 5px;	
	max-height: 250px;
	height: 250px;
	overflow: auto;
	overflow-x: hidden;
}

#modal-footer{
	text-align: center;
}

#player{
	margin: auto;
}

.anime_img{
	width: 40%;
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

#next_vignette{
	margin-left: 20px;
}